<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyk.coursearrange.dao.DocDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lyk.coursearrange.entity.Doc">
        <id column="id" property="id" />
        <result column="doc_name" property="docName" />
        <result column="doc_url" property="docUrl" />
        <result column="desc" property="desc" />
        <result column="to_class_no" property="toClassNo" />
        <result column="from_user_id" property="fromUserId" />
        <result column="from_user_name" property="fromUserName" />
        <result column="from_user_type" property="fromUserType" />
        <result column="remark" property="remark" />
        <result column="clicks" property="clicks" />
        <result column="expire" property="expire" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
