<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyk.coursearrange.dao.OnlineVideoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lyk.coursearrange.entity.OnlineVideo">
        <id column="id" property="id" />
        <result column="online_course_id" property="onlineCourseId" />
        <result column="video_name" property="videoName" />
        <result column="video_url" property="videoUrl" />
        <result column="from_user_type" property="fromUserType" />
        <result column="from_user_id" property="fromUserId" />
        <result column="from_user_name" property="fromUserName" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
